.panel-body  
  = simple_form_for @webinar, :html => { :class => 'form-horizontal' } do |f|
    = f.input :photo, as: :file, :class => 'btn btn-primary'
    .input-group 
      = f.input :name, :input_html => {class: "form-control"}
      = f.error_span :name, :input_html => { class: "form-control"}
      = f.association :theme
      / = f.input :some_flag, :input_html => { :checked => true }
      / = f.input :theme, :input_html => { class: "form-control"}
      / = f.error_span :theme, :input_html => { class: "form-control"}
    / = f.input :rate
    %br
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), webinars_path, :class => 'btn btn-default'
